@font-face {
    font-family: 'msdos';
    src: url('msdos.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'msdos', monospace;
    user-select: none;
}

html, body, .window{
    padding: 5px;
    height: 100%;
    width: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.699);
    font-size: larger;
}
a{
    color: rgba(255, 255, 255, 0.699);
}
a:visited{
    color: rgba(255, 255, 255, 0.699);
}

input[type="text"]{
    background-color: black;
    border: unset;
    color: rgba(255, 255, 255, 0.699);
    font-family: 'msdos', monospace;
    font-size: larger;
    padding: 2px;
    outline: none;
}

.window{
    position: absolute;
    top: 0;
    left: 0;
}

.window h3{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.854);
    color: black
}

.selector:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}

.scripts{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;    
}

.shake-animation {
    animation: shake 0.1s;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 400px) {
    html, body{
        font-size: medium;
    }

    input[type="text"]{
        font-size: large;
    }
}

@keyframes shake {
   0% { transform: translateX(0); background-color: black;}
 25% { transform: translateX(5px) }
 50% { transform: translateX(-5px) }
 75% { transform: translateX(5px) }
 100% { transform: translateX(0); background-color: brown;}
}
